@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navber{
    background-color: rgb(8, 8, 8);
}

.navber ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.navber a{
    display: block;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    font-family: "Work Sans", sans-serif;
}

.navber a:hover{
    background-color:rgb(167, 154, 139);
    transition: background-color 1s;
    border-radius: 5px;
}

.banner{
    display: block;
    background-image: url("/image/cover-food.jpg");
    height: 500px;
    background-size: cover;
    margin: 0 auto;
    
}

.banner img{
    height: 100%;
    width: 100%;
}

.banner-container{
    border: 1px solid rgb(117, 50, 50);
    height: 500px;
    /* margin: 20px; */

}
.banner-item{
    border: 3px solid rgb(222, 215, 230);
    border-radius: 15px 2px;
    margin: 100px 200px;
    padding: 100px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.banner-item button{
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 10px 5px;
    background-color: rgb(236, 63, 10);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width:577px) {
    .navber a{
        display: block;
        text-decoration: none;
        padding: 5px 7px;
        font-size: 1em;
        font-weight: bold;
        color: white;
        font-family: "Work Sans", sans-serif;
    }
    .banner-item{
        border: 1.5px solid rgb(222, 215, 230);
        margin: 160px 80px;
        padding: 10px;
        color: white;
        text-align: center;
        font-weight: bold;
    }
    .banner-item button{
        padding: 7px 14px;
        margin-top: 5px;
        border-radius: 10px 5px;
        background-color: rgb(236, 63, 10);
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
    }
}